.texto {
    /*text-shadow: 0px 0px 0px #000; el primer valo se refiere a la sombra horizontal
    es decir de izquierda a derecha, el segundo es la sombra vertical es decir de arriba hacia abajo
    el tercer valor es el tamaño de la sombra y el ultimo el color*/
    /*text-shadow: 2px 3px 10px #000;*/
    color: #fff;
    text-shadow: 2px 0px 10px blue;

}

.caja {
    width: 200px;
    height: 200px;
    background: #f79256;
    box-shadow: 0 5px 10px rgba(0,0,0,.5);
}